name: release-please
on:
  workflow_call:
    inputs:
      include-component-in-tag:
        description: "If true, add prefix to tags and branches, allowing multiple libraries to be released from the same repository"
        required: false
        default: true
        type: boolean
    outputs:
        release_created:
          description: "Whether a release was created or not"
          value: ${{ jobs.release-please.outputs.release_created }}

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          include-component-in-tag: ${{ inputs.include-component-in-tag }}
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
